body {
    text-align: center;
    font-family: Arial, sans-serif;
    color: #333;
}

h1 {
    color: #1a8cff;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #1a8cff;
    color: #fff;
    cursor: pointer;
}

#result {
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

#container{
    display: inline-block;
    text-align: left;
}